.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

textarea{
    resize: vertical;
    min-height: 60px;
}

.copy-icon{
    color: white;
}

.copy-icon:hover{
    cursor: pointer;
}
